<body>
  <h1>
    Movie sync from couch potato is complete!
  </h1>
  <h2>
    <%= link_to '<button type="button">Home</button>' root_path %>
  <h2>
  <%= button_to "Sync again!", :action => "sync" %>
</h2>
</body>
